body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:720px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:720px;
}
#u1 {
  position:absolute;
  left:2px;
  top:352px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:5px;
  top:11px;
  width:995px;
  height:90px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:991px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:8px;
  top:20px;
  width:110px;
  height:71px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:71px;
}
#u5 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:122px;
  top:43px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:242px;
  top:43px;
  width:100px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:362px;
  top:43px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:485px;
  top:43px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:612px;
  top:43px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:732px;
  top:43px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:900px;
  top:30px;
  width:94px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:962px;
  top:49px;
  width:28px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:842px;
  top:43px;
  width:100px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:275px;
  top:339px;
  width:82px;
  height:21px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:12px;
  top:181px;
  width:100px;
  height:96px;
}
#u19_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:102px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:101px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:36px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:122px;
  top:146px;
  width:118px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:250px;
  top:146px;
  width:100px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:362px;
  top:146px;
  width:100px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:118px;
  top:181px;
  width:817px;
  height:227px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:100px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:42px;
  width:128px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:132px;
  top:0px;
  width:137px;
  height:100px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:100px;
}
#u34 {
  position:absolute;
  left:2px;
  top:42px;
  width:133px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:269px;
  top:0px;
  width:102px;
  height:100px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:100px;
}
#u36 {
  position:absolute;
  left:2px;
  top:42px;
  width:98px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:371px;
  top:0px;
  width:120px;
  height:100px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
}
#u38 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:491px;
  top:0px;
  width:122px;
  height:100px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:100px;
}
#u40 {
  position:absolute;
  left:2px;
  top:42px;
  width:118px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:613px;
  top:0px;
  width:199px;
  height:100px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:195px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:100px;
  width:132px;
  height:34px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:34px;
}
#u44 {
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:132px;
  top:100px;
  width:137px;
  height:34px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:34px;
}
#u46 {
  position:absolute;
  left:2px;
  top:9px;
  width:133px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:269px;
  top:100px;
  width:102px;
  height:34px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u48 {
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:371px;
  top:100px;
  width:120px;
  height:34px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u50 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:491px;
  top:100px;
  width:122px;
  height:34px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u52 {
  position:absolute;
  left:2px;
  top:9px;
  width:118px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:613px;
  top:100px;
  width:199px;
  height:34px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:34px;
}
#u54 {
  position:absolute;
  left:2px;
  top:9px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:134px;
  width:132px;
  height:44px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:44px;
}
#u56 {
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:132px;
  top:134px;
  width:137px;
  height:44px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:44px;
}
#u58 {
  position:absolute;
  left:2px;
  top:14px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:269px;
  top:134px;
  width:102px;
  height:44px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:44px;
}
#u60 {
  position:absolute;
  left:2px;
  top:14px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:371px;
  top:134px;
  width:120px;
  height:44px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u62 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:491px;
  top:134px;
  width:122px;
  height:44px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
}
#u64 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:613px;
  top:134px;
  width:199px;
  height:44px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:44px;
}
#u66 {
  position:absolute;
  left:2px;
  top:14px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:178px;
  width:132px;
  height:44px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:44px;
}
#u68 {
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:132px;
  top:178px;
  width:137px;
  height:44px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:44px;
}
#u70 {
  position:absolute;
  left:2px;
  top:14px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:269px;
  top:178px;
  width:102px;
  height:44px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:44px;
}
#u72 {
  position:absolute;
  left:2px;
  top:14px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:371px;
  top:178px;
  width:120px;
  height:44px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u74 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:491px;
  top:178px;
  width:122px;
  height:44px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
}
#u76 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:613px;
  top:178px;
  width:199px;
  height:44px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:44px;
}
#u78 {
  position:absolute;
  left:2px;
  top:14px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:790px;
  top:285px;
  width:100px;
  height:25px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u80 {
  position:absolute;
  left:790px;
  top:330px;
  width:100px;
  height:25px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
