body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:1520px;
  width:1120px;
  height:890px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:890px;
}
#u1 {
  position:absolute;
  left:2px;
  top:437px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:841px;
  top:599px;
  width:289px;
  height:830px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:830px;
}
#u3 {
  position:absolute;
  left:2px;
  top:407px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:60px;
  width:1120px;
  height:470px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:470px;
}
#u5 {
  position:absolute;
  left:2px;
  top:227px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:0px;
  width:230px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:320px;
  top:10px;
  width:810px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:350px;
  top:23px;
  width:120px;
  height:20px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:320px;
  top:26px;
  width:28px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:509px;
  top:23px;
  width:120px;
  height:20px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:480px;
  top:26px;
  width:28px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:827px;
  top:26px;
  width:41px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:873px;
  top:23px;
  width:120px;
  height:20px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:1002px;
  top:23px;
  width:80px;
  height:20px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:645px;
  top:24px;
  width:160px;
  height:18px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20_input:disabled {
  color:grayText;
}
#u21 {
  position:absolute;
  left:30px;
  top:540px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:30px;
  top:559px;
  width:450px;
  height:41px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:41px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:600px;
  width:811px;
  height:910px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:910px;
}
#u26 {
  position:absolute;
  left:2px;
  top:447px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:982px;
  top:665px;
  width:100px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:982px;
  top:720px;
  width:100px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:982px;
  top:795px;
  width:100px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:982px;
  top:870px;
  width:100px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31 {
  position:absolute;
  left:982px;
  top:925px;
  width:100px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32 {
  position:absolute;
  left:982px;
  top:980px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:982px;
  top:1042px;
  width:100px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34 {
  position:absolute;
  left:982px;
  top:1100px;
  width:100px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35 {
  position:absolute;
  left:982px;
  top:1155px;
  width:100px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:982px;
  top:1215px;
  width:100px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:982px;
  top:1275px;
  width:100px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:982px;
  top:1325px;
  width:100px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:982px;
  top:1385px;
  width:100px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u40 {
  position:absolute;
  left:982px;
  top:1455px;
  width:100px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:840px;
  top:1492px;
  width:290px;
  height:27px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:27px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:43px;
  top:1540px;
  width:1087px;
  height:860px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1087px;
  height:860px;
}
#u44 {
  position:absolute;
  left:2px;
  top:422px;
  width:1083px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:30px;
  top:2428px;
  width:1120px;
  height:42px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:42px;
}
#u46 {
  position:absolute;
  left:2px;
  top:13px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:359px;
  top:2438px;
  width:390px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
